/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    // margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    // margin: 0.2em 0;
    background: #ccc;
    color: #000;
    // padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@media (prefers-color-scheme: dark) {
  body {
    background-color: #777777;
  }
  .section {
    color: white;
  }
}

.main-color {
  color: #ff3241;
}

.hide {
  display: none;
  visibility: hidden;
  font-size: 0;
}

.side-panel {
  position: fixed;
  top: 0;
  width: 30vw;
  height: 100vh;
  background-color: #ff3241;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  display: table-cell;
  /*vertical-align: middle;*/
}

#name {
  left: 16%;
  top: 49%;
  transform: translate(-49%, -49%);
  font-family: "SF UI Display",  Helvetica;
  font-size: 3.5em;
  color: white;
  text-align: right;
  //margin-right: 4vw;
  position: fixed;
}


#fullpage {
  position: relative;
  left: 30vw;
  width: 70%;
}

.section {
  font-family: "SF UI Display",  Helvetica;
  font-size: 3.5em;
  /*margin-left: 4vw;*/
  position: relative;
  padding-left: 7%;
  padding-right: 7%;
}

.section-4-font {
  font-size: 3.4vw;
  max-font-size: 30px;
}

.title {
  font-family: "SF UI Display",  Helvetica;
  font-size: 2em;
  color: #ff3241;
  height: 0;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.sub-title {
  font-weight: lighter;
  font-size: 0.8em;
  display: inline-block;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

.text-center {
  text-align: center;
}

a {
  color: #585858;
  text-decoration: none;
}

html{
  min-height:100%;/* make sure it is at least as tall as the viewport */
  position:relative;
}
body{
  height:100%; /* force the BODY element to match the height of the HTML element */
  margin: 0;
  color: #585858;
}
#side-panel{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  overflow:hidden;
  z-index:-1; /* Remove this line if it's not going to be a background! */
}

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

@media screen and (min-width: 880px) {
  .small {
    display: none;
  }

  #fullpage {
    position: relative;
    left: 30vw;
    width: 70%;
  }
}


@media screen and (max-width: 880px){
  .big {
    display: none;
  }

  .small {
    display: block;
  }

  #fullpage {
    left: 0;
    width: 100%;
  }

  .section {
    font-size: 2.3em !important;
  }
}


@media screen and (max-width: 414px) {
  .section {
    font-size: 1.4em !important;
  }
}

@media screen and (max-width: 880px) {
  .mail-link {
    font-size: 6vw;
  }
}

@media screen and (min-width: 880px) and (max-width: 1150px) {
  .mail-link {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
