.treasure{
    background-color: #8e79d794;
}

.title{
    position: absolute;
    top: 4%;
    left: 4%;
    font-size: 4vmax;
}

.content{
    position: relative;
    text-align: center;
    /*top: 20%;*/
}

.wrapper {
    text-align: center;
}

.center {
    display: inline-block;
}

.arrow{
    position: absolute;
    bottom: 2%;
    left: 48%;
}

embed {
    position: fixed;
    height: 100%;
    width: 200%;
    overflow: hidden;

}

.video {
    width: 65vw;
    height: 50vh;
}

.demo{
    position: relative;
    left: 2%;
    width: 160px;
}

.gif {
    height: 60vh;
}

.description{
    font-size: 1.4vmax;
    display: inline-block;
    text-align: justify;
    width: 80vw;
}

.video-description {
    font-size: 1.2em;
    margin-top: 15px;
}

.separator{
    height: 30px;
}

.separatorSmall{
    height: 15px;
}

.polynews{
    background-color: #91ff8b;
}

.delpech{
    background-color: #85dfff;
}
